<section id="about" class="section">
    <div class="container">
        <h2 class="section-title">About Me</h2>
        <p>Experienced Software Engineer with 2 years of industry experience. Proven ability to deliver high-quality software solutions with strong understanding of SDLC in a web development environment. Expertise in .NET, PostgreSQL, and jQuery. Key responsibilities include R&D, API integration, including WhatsApp Business Cloud API, MS QnA API, Google Map API, and Azure Bot Framework. Additionally, proficient in VR development with Unity and has a publication in Springer on VR.</p>
    </div>
</section>