<section id="experience" class="section bg-light">
    <div class="container">
        <h2 class="section-title">Work Experience</h2>
        <ul class="timeline">
            <li>
                <div class="timeline-image">
                    <h4>Jul<br>2023<br>Present</h4>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Software Engineer</h4>
                        <h4 class="subheading">Impulse (BD) Ltd</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Integrated WhatsApp Business Cloud API, implemented Microsoft QnA API and Azure Bot Framework, managed scientific journal management system, and contributed to Hotel Management System development.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>Jul<br>2022<br>Jun 2023</h4>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Junior Software Engineer</h4>
                        <h4 class="subheading">Impulse (BD) Ltd</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Contributed to villa rental website development, played key role in boat rental website creation, and improved Event Management System functionality.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image">
                    <h4>Sep<br>2021<br>Dec 2021</h4>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Student Intern</h4>
                        <h4 class="subheading">American International University-Bangladesh</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Assisted students in setting up lab environments, resolving software bugs, and introducing them to various development tools.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>