<section id="projects" class="section">
    <div class="container">
        <h2 class="section-title">Project Work Experience</h2>
        <ul class="list-group">
            <li class="list-group-item">EHut: E-Commerce API (ASP.NET API, n-tier architecture)</li>
            <li class="list-group-item">Management System: Binary ICT Park (Win Forms C#, Coaching center management, Deployed in January 2022)</li>
            <li class="list-group-item">Alphabet learning web-game (Unity 3D)</li>
            <li class="list-group-item">Virtual Reality Cricket Simulator</li>
        </ul>
    </div>
</section>